In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Dataset link: https://www.kaggle.com/datasets/shriyashjagtap/e-commerce-customer-for-behavior-analysis?select=ecommerce_customer_data_custom_ratios.csv

In [3]:
#data = pd.read_csv('/content/drive/MyDrive/DA612/ecommerce_customer_data_custom_ratios.csv')

In [4]:
!pip install cleanlab

Collecting cleanlab
  Downloading cleanlab-2.6.6-py3-none-any.whl.metadata (63 kB)
     ---------------------------------------- 0.0/63.3 kB ? eta -:--:--
     ------ --------------------------------- 10.2/63.3 kB ? eta -:--:--
     ------------------ ------------------- 30.7/63.3 kB 330.3 kB/s eta 0:00:01
     ------------------------------------ - 61.4/63.3 kB 544.7 kB/s eta 0:00:01
     -------------------------------------- 63.3/63.3 kB 424.8 kB/s eta 0:00:00
Requirement already satisfied: numpy~=1.22 in c:\users\hxiuf\anaconda3\lib\site-packages (from cleanlab) (1.26.4)
Requirement already satisfied: scikit-learn>=1.1 in c:\users\hxiuf\anaconda3\lib\site-packages (from cleanlab) (1.4.2)
Requirement already satisfied: tqdm>=4.53.0 in c:\users\hxiuf\anaconda3\lib\site-packages (from cleanlab) (4.66.4)
Requirement already satisfied: pandas>=1.4.0 in c:\users\hxiuf\anaconda3\lib\site-packages (from cleanlab) (2.2.2)
Collecting termcolor>=2.4.0 (from cleanlab)
  Downloading termcolor-2.4.0-py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hxiuf\anaconda3\lib\site-packages (from pandas>=1.4.0->cleanlab) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hxiuf\anaconda3\lib\site-packages (from pandas>=1.4.0->cleanlab) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hxiuf\anaconda3\lib\site-packages (from pandas>=1.4.0->cleanlab) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hxiuf\anaconda3\lib\site-packages (from scikit-learn>=1.1->cleanlab) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hxiuf\anaconda3\lib\site-packages (from scikit-learn>=1.1->cleanlab) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hxiuf\anaconda3\lib\site-packages (from scikit-learn>=1.1->cleanlab) (2.2.0)
Requirement already satisfied: colorama in c:\users\hxiuf\anaconda3\lib\site-packages (from tqdm>=4.53.0->cleanlab) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\hxiuf\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->cleanlab) (1.16.0)
Downloading cleanlab-2.6.6-py3-none-any.whl (353 kB)
   ---------------------------------------- 0.0/353.6 kB ? eta -:--:--
   --------------------------------------  348.2/353.6 kB 22.5 MB/s eta 0:00:01
   ---------------------------------------- 353.6/353.6 kB 5.5 MB/s eta 0:00:00
Downloading termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Installing collected packages: termcolor, cleanlab
Successfully installed cleanlab-2.6.6 termcolor-2.4.0

In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('ecommerce_customer_data_custom_ratios.csv')

In [8]:
data.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1

In [10]:
# Identify the dataframe shape
data.shape

(250000, 13)

In [12]:
# count distinct values in each column
data.nunique()

Customer ID               49673
Purchase Date            249736
Product Category              4
Product Price               491
Quantity                      5
Total Purchase Amount      5247
Payment Method                4
Customer Age                 53
Returns                       2
Customer Name             39920
Age                          53
Gender                        2
Churn                         2
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  object
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                202404 non-null  float64
 9   Customer Name          250000 non-null  object
 10  Age                    250000 non-null  int64
 11  Gender                 250000 non-null  object
 12  Churn                  250000 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 24.8+ MB

In [12]:
# Identify missing data
data.isnull().sum()

Customer ID                  0
Purchase Date                0
Product Category             0
Product Price                0
Quantity                     0
Total Purchase Amount        0
Payment Method               0
Customer Age                 0
Returns                  47596
Customer Name                0
Age                          0
Gender                       0
Churn                        0
dtype: int64

In [14]:
# Identify the duplicates, returns all duplicated rows
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [Customer ID, Purchase Date, Product Category, Product Price, Quantity, Total Purchase Amount, Payment Method, Customer Age, Returns, Customer Name, Age, Gender, Churn]
Index: []

In [22]:
# Display the rows where "Returns" is not null
data[data['Returns'].notnull()]

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,33308,2023-08-10 13:39:06,Clothing,279,2,2187,PayPal,55,1.0,Michelle Flores,55,Male,1
249996,48835,2021-11-23 01:30:42,Home,27,1,3615,Credit Card,42,1.0,Jeremy Rush,42,Female,1
249997,21019,2020-07-02 14:04:48,Home,17,5,2466,Cash,41,0.0,Tina Craig,41,Male,0
249998,49234,2020-12-30 02:02:40,Books,398,2,3668,Crypto,34,0.0,Jennifer Cooper,34,Female,1
249999,16971,2021-03-13 16:28:35,Electronics,425,4,2370,Cash,36,1.0,Justin Lawson,36,Female,1

In [24]:
# Handle missing value in "Returns" column
data['Returns'] = data['Returns'].fillna(0)

In [26]:
data['Returns']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
249995    1.0
249996    1.0
249997    0.0
249998    0.0
249999    1.0
Name: Returns, Length: 250000, dtype: float64

In [30]:
data['Returns'].unique()

array([0., 1.])

In [28]:
data.isnull().sum()

Customer ID              0
Purchase Date            0
Product Category         0
Product Price            0
Quantity                 0
Total Purchase Amount    0
Payment Method           0
Customer Age             0
Returns                  0
Customer Name            0
Age                      0
Gender                   0
Churn                    0
dtype: int64

In [32]:
data.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1

In [34]:
# Filter the rows where "Returns" = 1, save to a new dataframe
data_return = data[data['Returns'] == 1]

In [36]:
data_return.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
5,13593,2023-03-07 14:17:42,Home,250,4,575,PayPal,49,1.0,James Grant,49,Female,1
8,13593,2020-05-05 20:14:00,Clothing,182,2,3363,PayPal,49,1.0,James Grant,49,Female,1
11,28805,2021-01-18 22:42:24,Books,348,1,2682,Credit Card,19,1.0,Jose Collier,19,Male,0
18,28961,2021-09-10 00:39:41,Books,489,3,2213,Credit Card,55,1.0,James Stein,55,Male,0
19,28961,2023-06-01 19:07:10,Books,232,3,4452,PayPal,55,1.0,James Stein,55,Male,0

In [38]:
data_return.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100769 entries, 5 to 249999
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            100769 non-null  int64
 1   Purchase Date          100769 non-null  object
 2   Product Category       100769 non-null  object
 3   Product Price          100769 non-null  int64
 4   Quantity               100769 non-null  int64
 5   Total Purchase Amount  100769 non-null  int64
 6   Payment Method         100769 non-null  object
 7   Customer Age           100769 non-null  int64
 8   Returns                100769 non-null  float64
 9   Customer Name          100769 non-null  object
 10  Age                    100769 non-null  int64
 11  Gender                 100769 non-null  object
 12  Churn                  100769 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 10.8+ MB

In [48]:
# save the cleaned dataset to a csv file
data.to_csv('ecommerce_customer_data_custom_ratios_cleaned.csv', index=False)